<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.visionest.ios.helloworldpg"
        version   = "2.0.0">
    <name>HelloWorldPG</name>

    <description>
        Applicazione di esempio Hello World usando PhoneGap/Apache Cordova.
    </description>

    <author href="http://www.visionest.com" email="tobia.zorzan@visionest.com">
        Tobia Zorzan - Visionest Srl
    </author>

    <icon src="res/icon/cordova_ios_144.png"    width="144" height="144" gap:platform="ios" />

    <gap:splash src="res/screen/ipad_landscape.png"              width="1024" height="748"  gap:platform="ios" />
    <gap:splash src="res/screen/ipad_portrait.png"               width="768"  height="1004" gap:platform="ios" />
    <gap:splash src="res/screen/ipad_retina_landscape.png"       width="2048" height="1496" gap:platform="ios" />
    <gap:splash src="res/screen/ipad_retina_portrait.png"        width="1536" height="2008" gap:platform="ios" />
    <gap:splash src="res/screen/iphone_landscape.png"            width="480"  height="320"  gap:platform="ios" />
    <gap:splash src="res/screen/iphone_portrait.png"             width="320"  height="480"  gap:platform="ios" />
    <gap:splash src="res/screen/iphone_retina_landscape.png"     width="960"  height="640"  gap:platform="ios" />
    <gap:splash src="res/screen/iphone_retina_portrait.png"      width="640"  height="960"  gap:platform="ios" />

	<feature name="http://api.phonegap.com/1.0/camera"/>

    <preference name="phonegap-version" value="1.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="webviewbounce" value="false" />
</widget>
